.row {
    width: 100%;
    margin: auto;
}

.producto,
.producto_col2 {
    width: 100%;
    position: relative;
    height: 250px;
    margin: 0.5rem 0rem;
}

.producto_col2 {
    height: 350px;

}

.imgProducto {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}

.imgProducto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.textoDeComprea {
    position: relative;
    z-index: 20;
    text-align: center;
    font-family: "Saira", sans-serif;
    text-transform: uppercase;
    color: #F5F5F5;
    padding: 1.3rem;
}

.textoDeComprea h3 {
    font-weight: bold;
    font-size: 28px;
}

.textoDeComprea p {
    color: #00A3FF;
    font-size: 16px;
}