* {
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.navabar {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    justify-content: space-between;
    background-color: #0D0D0D;
    padding: 1.3rem 2.5rem;
}

.navbar-brand {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.visible-mobil {
    display: flex;

}

.visible-pc {
    display: none;
}

nav .logo {
    display: flex;
    align-items: center;
    color: #F5F5F5;
    font-family: "Saira", sans-serif;
    text-transform: uppercase;
}

nav .logo:hover {
    color: #F5F5F5;

}


nav .logo img {
    width: 49px;
    height: auto;
}

.enlaces {
    gap: 1rem;
}

@media (min-width: 1000px) {

    .navbar_enalace_iconos {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .enlaces {
        margin: auto;
        gap: 3.5rem;
    }
}

@media (min-width: 980px) {
    .navbar-brand {
        width: auto;
    }

    .visible-mobil {
        display: none;

    }

    .visible-pc {
        display: flex;
    }

}

.enlaces .enlace {
    gap: 1rem;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 5.3rem;
    align-items: center;
    font-family: "Saira", sans-serif;
    font-weight: bold;
    font-size: 24px;
    text-transform: uppercase;
    color: #F5F5F5;
    list-style: none;
    cursor: pointer;
    border-bottom: 2.3px solid #0D0D0D;
}

.enlace:hover {
    border-bottom: 2.3px solid #008CFF;
}

.iconos {
    background-color: transparent;
}

.iconos img {
    width: 30px;
    height: auto;

}

.login_register {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    padding: 1rem;
    background-color: #008CFF;
    text-transform: uppercase;
    font-family: 'Saira', sans-serif;
    color: #F5F5F5;
}

.forlogin_forregister {
    color: #F5F5F5;
    text-transform: uppercase;
    font-family: 'Saira', sans-serif;
    border: none;
    border-left: 1px solid #F5F5F5;
    padding: 0 0.8rem;
}