.card {
    height: 100%;
    border-radius: 0%;
    border: 1px solid #1E1E1E;
}

.card:hover {
    border: 1px solid #008CFF;
}

.card img {
    margin: auto;
    width: 70%;
    height: auto;
    object-fit: contain;

}

.card-body {
    background-color: #0D0D0D;
    font-family: 'Saira', sans-serif;
    font-weight: 100;
    color: #F5F5F5;
}

.card-body .card-title {
    font-weight: 100;
}

.card-text {
    font-weight: bold;
    font-size: 24px;
}

.btn-carrito {
    width: 50px;
    height: 50px;
    padding: 0;
    background-color: #0D0D0D;
    border: 1px solid #0D0D0D;
}

.btn-carrito:hover {
    background-color: #0D0D0D;
    border: 1px solid #008CFF;
}